<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="PAFConnectionString" connectionString="Data Source=134.213.215.78;Initial Catalog=InternalTestPAF;Persist Security Info=True;User ID=Cabvista6;Password=WT81fXRiRsiRqd5l;Connect Timeout=60" providerName="System.Data.SqlClient"/>
      <add name="Database" connectionString="Data Source=CF-L-00301;Initial Catalog=AddisonLeeCabVista;Persist Security Info=True;User ID=sa;Password=Vafis200974;Connect Timeout=60" providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>